.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 880px;
  width: 100%;
  max-height: 120px;
  height: 100%;
  color: white;
  margin-top: 30px;
}

.profile__content {
  display: flex;
  align-items: center;
}

.profile__avatar {
  display: flex;
  justify-content: center;
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.profile__image {
  display: flex;
  width: 168.75px;
  height: 127.5px;
}

.profile__data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 415px;
  height: 77px;
  margin-left: 30px;
}

.profile__username {
  font-family: "Inter-black";
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  width: 373px;
  margin: 0;
}

.profile__edit-info {
  width: 24px;
  height: 24px;
  margin-left: 18px;
  margin-top: 20px;
  background-color: black;
  background-repeat: no-repeat;
  background-image: url(../images/Edit\ Button.png);
  color: #ffffff;
  background-position: center;
  border: 1px solid #ffffff;
}

.profile__edit-info:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__about-me {
  font-size: 18px;
  line-height: 21.78px;
  font-family: "Inter";
}

.profile__add-profile {
  width: 150px;
  height: 50px;
  color: white;
  border: 2px solid #ffffff;
  background-color: #000000;
}

.profile__add-profile:hover {
  opacity: 60%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    width: 100%;
  }

  .profile__content {
    flex-direction: column;
    justify-content: center;
    width: 581px;
  }

  .profile__data {
    margin: 0;
  }

  .profile__add-profile {
    margin-top: 20px;
    align-self: center;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    margin: 0;
    width: 282px;
    justify-content: center;
    flex-direction: column;
  }

  .profile__content {
    flex-direction: column;
    justify-content: center;
    width: 282px;
  }

  .profile__data {
    margin: 30px 0 0 0;
    width: 282px;
    justify-content: center;
  }

  .profile__username {
    font-size: 22px;
    line-height: normal;
  }

  .profile__edit-info {
    margin-left: 10px;
    margin-top: 4px;
    height: 18px;
    width: 18px;
  }
  .profile__text {
    font-size: 14px;
    margin: 14px 0 0;
  }

  .profile__add-profile {
    margin: 36px 0 0 0;
    height: 50px;
    width: 282px;
  }
}
